body {
	color:white;
	background-color:#161616;    
    text-align:center;
}
img {
		width:500px;
}
h1 {
		font-size:40px;
}

h2 {
		display: inline-block;
		font-family: Courier;
		text-decoration:none;
		margin-left: 20px;
		float: center;
		position: relative;
}
a {
		text-decoration:none;
		color:white;
}


a:hover {
		color: #0000B8;
}

div {
    
	height:40px;
    width:80px;
    border-color:#6495ed;
    background-color:blue;
    border-style:solid;
    border-width:2px;
    border-radius:5px;
    margin:auto;
    display:inline-block;
	
}

.social_media{
    text-decoration:none;
    color:white;
}
